.heading2{
    font-weight: 500;
    font-size: 25px;
    padding-left: 10px;
    letter-spacing: 0.3px;
}
.categoryContainer{
    /* overflow: hidden; */
    /* border: 1px solid #ff0000; */
    padding: 0px 10px;
    padding-top: 10px;
    display: flex;
    gap: 50px;
    overflow-x: auto;
    height: 320px;
}
.categoryContainer::-webkit-scrollbar{
    height: 0px;
}

.category{
    /* width: 200px; */
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    gap: 12px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    color: gray;
    transform: 300ms ease;
}
.moreBox{
    height: 280px;
    /* border: 1px solid rgb(177, 177, 177); */
    box-sizing: border-box;
    background-color: rgb(225, 225, 225);
    line-height: 100%;
    color: rgb(115, 115, 115);
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
}
.category div{
    font-weight: 500;
    letter-spacing: 0.3px;
    /* padding-left: 10px; */
    text-align: center;
    color: black;
    font-size: 14px;
}
.category img{
    transition: 150ms ease;
}
.category img:hover{
    width: 210px;
    height: 300px;
    box-shadow: 0 0 8px rgb(126, 126, 126);
}
.moreBox:hover{
    width: 210px;
    height: 300px;
    box-shadow: 0 0 8px rgb(140, 140, 140);
}