.body{
    background-color: rgb(230, 229, 240);
    height: 100vh;
    background: linear-gradient(to bottom, rgb(21, 21, 21) 50% ,rgb(104, 104, 104) );
}
.navbarLogin{
    background-color: black;
    padding-top: 5px;
}
.container{
    align-items: center;
    margin: 5% auto;
    /* border : 1px solid rgb(161, 154, 230); */
    padding: 20px 40px;
    max-width: 240px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 4px rgb(171, 171, 171);
}
.h2{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 20px;
}
.input{
    width: 100%;
    /* border: 1px solid red; */
}
.input input{
    /* display: block; */
    width: 100%;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 3px;
    font-family: 'roboto';
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(208, 208, 208);
}
.saveBtn{
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: green;
    border-radius: 3px;
    padding: 7px 0;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 400;
    transition: 50ms ease;
    cursor: pointer;
}
.saveBtn:hover{
    background-color: darkgreen;
}