.myservices{
    /* width: 94%; */
    /* border: 2px solid red; */
    margin: 0 auto;
    /* padding:20px; */
}
.table-container{
    font-family: "Roboto", sans-serif;
    /* border: 2px solid rgb(0, 255, 85); */
    margin-top: 20px;
}
.table{
    margin: 0 auto;
    border-collapse: collapse;
    border-color: rgb(216, 216, 216);
    width: 60vw;

}
.table tr td{
    padding-left: 20px;
    border: none;
}
.table tr{
    height: 45px;
    padding-left: 50px;
    font-size: 13px;
    border-bottom: 1px solid rgb(216, 216, 216);
}


.table tr td span{
    cursor: pointer;
    font-size: 22px;
    vertical-align: baseline;
    font-weight: 300;
    transition: 100ms ease;
}
.table tr td span:hover{
    color: red;
    font-size: 25px;
}
.table tr td:nth-child(1),
.table tr td:nth-child(5){
    text-align: center;
}
.table td:nth-child(2){
    padding-left: 30px;
}
.table tr:nth-child(1){
    background-color: rgb(237, 237, 237);
    height: 50px;
    letter-spacing: 0.4px;
    font-size: 14px;
    padding-left: 0px;
    border-top-left-radius: 10px;
}