@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
.bkgImage{
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    background:linear-gradient(to right,black ,white );
    z-index: -1;    
}
.bkgImage .imgBox{
    position: absolute;
    height: 90vh;
    width: 45vw;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    right:50px;
    bottom: 0;
}
.blackBKG{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0 , 0.8);
    background-blend-mode: overlay;
    z-index: 3;
    transform: scaleY(0%);
}

.loginBody{
    font-family: 'roboto';
    /* background-size: cover; */
    height: 100vh;
    /* background-size: cover; */
    background-repeat: no-repeat;
    z-index: 2;
}
.navbarLogin{
    background-color: black;
    padding-top: 5px;
}
.container{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 70px 100px;
    /* border: 1px solid red; */
}
.imgFormContainer{
    /* border: 1px solid red; */
    /* box-shadow: 0px 0px 8px rgb(85, 85, 85); */
    overflow: hidden;
    /* width: 350px; */
    border-radius: 10px;
    max-width: 390px;
}

.loginFormContainer{  
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginFormContainer h1{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    font-family:'roboto Slab';
}

.input{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input label{
    padding-left: 2px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0);   
}
.input .forgetPwd{
    text-decoration: none;
    text-align: right;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: rgb(16, 16, 237);   
}
.input .forgetPwd:hover{
    text-decoration: underline;

}
.loginFormContainer .input input{
    font-family: 'roboto';
    font-size:12px ;
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width:100%;
    border-radius: 5px;
    border-radius: 10px;
    /* background-color: rgb(243, 243, 243); */
    border: 1px solid rgb(219, 219, 219);
    padding-left:15px ;
}
.loginForm select{
    font-size:12px ;
    color: gray;
    outline: none;
    height: 36px;
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    padding-left:10px ;
}
.loginFormContainer .input input[type="submit"]{
    background-color:blue;
    border: none;
    padding: 0;
    color: white;
    height: 38px;
    font-size: 14px;
    transition: 50ms ease;
    cursor: pointer;
}
.loginFormContainer .input input[type="submit"]:hover{
    box-shadow: 0px 0px 3px rgb(46, 46, 112);
    font-size: 15px;
}
.loginFormContainer select:focus{
    /* color: red; */
    border: 2px solid rgb(0, 0, 0);
    /* border-color: black; */
    border: 2px solid rgb(49, 53, 255);
}
.loginFormContainer .input input:focus{
   border: 1px solid black;
   border: 2px solid rgb(49, 53, 255);
}

.registerBtn{
    font-size: 13px;
}
.signupBtn{
    color: rgb(0, 0, 224);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.registerBox{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position:absolute;
    top: 0vh;
    text-align: center;
    transform : scaleX(0%);
    transition: 100ms ease;
    box-sizing:border-box;
    z-index: 4;
}  
.wrapSubRegister{
    margin: 0 auto;
    width: 500px;
    display: block;
    /* border: 1px solid red; */
    margin-top: 150px;
}
.cancel{
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    float: right;
    cursor: pointer;
}
.subRegisterBox{
    padding: 40px 70px;   
    box-shadow: 0px 0px 10px rgb(32, 32, 32);
    background-color: white;
    border-radius: 10px ;
    /* width: 450px; */
}
.selectType{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 0 auto;
    /* gap: 50%; */
    background-color: white;
    /* border: 1px solid black;    */
}
.typeBox{
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(191, 191, 191);
}

.link{
    text-decoration: none;
    color: black;
}

.typeBox div{  
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
}
.typeBox .selectUser,
.typeBox .selectServiceProvider{
    padding-top:8px;
    background-color: rgb(228, 228, 255);
}

.typeBox:hover{
    box-shadow: 0 0 5px rgb(156, 156, 156);
}

@media screen and (max-width:531px) {
    .imgFormContainer{
        padding: 30px 30px;
        width: auto;
    }
    .loginFormContainer{
        padding: 0px 30px;
        border-radius : 5px
    }
    .container{
        padding: 0px;
    }
    .bkgImage .imgBox{
        /* height: 50%; */
        opacity : 0
    }
    .registerBox{
        padding: 50px 50px;
    }
    .wrapSubRegister{
        width: auto;
    }
    .subRegisterBox{
        padding: 30px 30px;
    }
    .selectType{
        /* gap: 10%; */
    }
    .typeBox img{
        height: 60px;
    }
    .typeBox .selectUser{
        /* border-radius: 50%; */
        padding: 10px 13px;
        background-color: rgb(228, 228, 255);
    }
    .typeBox .selectServiceProvider{
        padding: 10px 10px;
    }
}
@media screen and (max-width:330px){
    .registerBox{
        padding: 100px 20px;
    }
}
@media screen and (max-width:1550px) and (min-width:1000px){
    /* .registerBox{
        padding: 100px 500px;
    }
    .subRegisterBox{
        padding: 0px 0px;
    } */
}