/* @import-reset */

.toaster{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    background-color: black;
    padding-top: 2px; 
    height: 60px;
}
.signupBody{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 100% auto;
    /* background: color-mix(in srgb, black 20% , white); */
    background:linear-gradient(to left,rgb(180, 180, 180) 20% , rgb(218, 218, 218) 80%);
}
.formbody{
    /* border: 2px solid red; */
    padding: 20px 200px;
    letter-spacing: 0.2px;
}
.formcontainer{
    box-shadow: 0 0 4px rgb(122, 122, 122);
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 20px 60px;
}
#heading1{
    font-weight: 500;
    color: rgb(148, 26, 255);
    color: rgb(23, 35, 140);
    padding: 10px 60px;
    font-size: 20px;
    text-align: center;
}
.formheading{
    font-weight: 500;
    font-size: 17px;
}
.horizLine{
    border-top: 1px solid rgb(206, 206, 206);
}
.formInfoTypeContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.rowCols2{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 40% 40% ;
    gap: 15%;
    /* height: 70px; */
}
.rowCols3{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30% 30% auto ;
    gap: 5%;
    /* height: 70px; */
}
.input{
    font-size: 14px;
    font-weight:500;
    color: rgb(59, 59, 59);
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows:auto ;
    font-family: 'poppins';
    gap: 8px;
}
.input label{
    /* width: 100px; */
    vertical-align: middle;
    margin : auto 0;
    /* border: 1px solid red; */
}
.input input , .input select ,textarea{
    border: 1px solid rgb(198, 198, 198);
    outline: none;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    /* color: gray; */
}
.formcontainer .input select{
    height: 38px;
}
.input textarea{
    height: auto;
}
input[type="submit"]{
    background-color: blue;
    color: white;
    /* font-family: 'roboto'; */
    padding: 6px 20px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.3px;
    text-align: center;
    font-weight: 500;
}

 textarea:focus, input:focus, .formcontainer select:focus{
    border: 2px solid rgb(159, 75, 232);
    box-shadow: 0 0 1px rgb(164, 164, 164);
}

.uploadImage{
    border: 1px solid rgb(198, 198, 198);
    padding: 20px;
    border-radius: 5px;
}
.uploadImage .dropBox{
    border-radius: 5px;
    border: 2px dashed rgb(198, 198, 198);
    border: 1px dashed rgb(164, 164, 164);
    display: block;
    cursor: pointer;
    align-items: center;
    
}
.dropBox .dropBoxInner{
    text-align: center;
}
.dropBox .dropBoxInner .displaySelectedFile{
    /* border: 1px solid rgb(120, 120, 120); */
    border-radius: 5px;
}

.input span{
    color: rgb(255, 54, 54);
    font-size: 11px;
    font-weight: 400;
}



@media screen and ( max-width:1300px ) and
(min-width:900px){
    .formbody{
        /* border: 2px solid red; */
        padding: 20px 100px;
        letter-spacing: 0.2px;
    }

}
@media screen and ( max-width:900px ) and
(min-width:600px){
    .formbody{
        /* border: 2px solid red; */
        padding: 20px 60px;
        letter-spacing: 0.2px;
    }  
}
@media screen and ( max-width:430px ){
    .formcontainer{
        /* border: 2px solid red; */
        padding: 20px 20px;
        letter-spacing: 0.2px;
    }  
}
@media screen and ( max-width:600px ) {
    .formbody{
        /* border: 2px solid red; */
        padding: 20px 20px;
        letter-spacing: 0.2px;
    }  
}
@media screen and ( max-width:900px ){
    .rowCols3{
        grid-template-columns: none;
        grid-template-rows: auto;
    }
    .rowCols2{
        grid-template-columns: none;
        /* grid-template-rows: 47% 47%; */
        grid-template-rows: auto;
        /* gap: 50px; */
    }
   
}